<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.twoactivitiesModify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TwoActivities">

        <activity android:name="com.example.twoactivitiesModify.Passage1"
            android:label="@string/activityCh1_name"
            android:parentActivityName="com.example.twoactivitiesModify.ChallengeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.twoactivitiesModify.ChallengeActivity" />
        </activity>
        <activity android:name="com.example.twoactivitiesModify.Passage2"
            android:label="@string/activityCh2_name"
            android:parentActivityName="com.example.twoactivitiesModify.ChallengeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.twoactivitiesModify.ChallengeActivity" />
        </activity>
        <activity android:name="com.example.twoactivitiesModify.Passage3"
            android:label="@string/activityCh3_name"
            android:parentActivityName="com.example.twoactivitiesModify.ChallengeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.twoactivitiesModify.ChallengeActivity" />
        </activity>
        <activity
            android:name="com.example.twoactivitiesModify.ChallengeActivity"
            android:label="@string/activity3_name"
            android:parentActivityName="com.example.twoactivitiesModify.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.twoactivitiesModify.MainActivity" />
        </activity>
        <activity
            android:name="com.example.twoactivitiesModify.SecondActivity"
            android:label="@string/activity2_name"
            android:parentActivityName="com.example.twoactivitiesModify.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.twoactivitiesModify.MainActivity" />
        </activity>
        <activity android:name="com.example.twoactivitiesModify.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>